body{
    background-image: url(../images/bg.png);
    position: relative;
    background-size: cover;
    font-family: 'Kumbh Sans', sans-serif;
    background-repeat: no-repeat;
}

.container{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 310px;
    margin: 0 auto;
    height: 310px;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 60px -20px;
}

.header{
    height: 110px;
    border-radius: 10px 10px 0 0;
}

.profile{
    position: absolute;
    top: 72px;
    margin-left: 50px;
}

.profile img{
    width: 45%;
}

.name{
    margin: 65px 0 0 0;
    font-size: 15px;
}

span{
    margin-left: 5px;
    color: #999999;
}

.city{
    font-size: 11px;
    margin-top: 5px 0 0 0;
    color: #999999;
}

.wrapper{
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #e8e8e8;
}

.stat h3{
    margin: 20px 0 5px;
    font-size: 15px;
}

.stat{
    margin-left: 35px;
    padding-left: 15px;
}

.stat p{
    margin: 5px 0 5px;
    font-size: 7px;
    color: #999999;
    letter-spacing: 1px;
}

@media(max-width:375px){
    .container{
        width: 100%;
        margin:100px 0 0 0;
    }
    
    body{
        background-image: url(../images/bg_phone.png);

    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 80px;
}
.attribution a { color: hsl(228, 45%, 44%); }